<h2 id="tituloProducto">Productos</h2>
<div id="vistaProducto">
<div>
    {{#if products.length}}
    {{#each products}}
            <table>
        <tr>
            <th>TITULO</th>
            <th>PRECIO</th>
            <th>IMAGEN</th>
        </tr>
        <tr>
            <td>{{ this.titulo }}</td>
            <td>{{ this.precio }}</td>
            <td><img src='{{  this.imagen }}' alt='{{ this.titulo }}' class="product__img"></td>
        </tr>
       
        </table>
    {{/each}}
  {{else}}
  <p id="products_empty">No posee productos ingresados</p>
{{/if}}
</div>
